<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
  	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<script type="text/javascript">
  		addCustomer=function(){
          var customer = {};
          customer.name=$("#name").val();
          customer.email=$("#email").val();
          customer.address=$("#address").val();
          customer.phone=$("#phone").val();
          $.ajax({
          type: "POST",
          url: "/api/customers",
          data: customer,
          success: function(data){
            console.log(JSON.stringify(data));
            if(data.result == "success"){
              //alert("login success ");
              location = "/customers";
            }
          }
        });
      }
  	</script>
    <h1><%= title %></h1>
    <p>Welcome to CustomerApp</p>
    <input id="name" type="" name="" placeholder="name"><br/><br/>
    <input id="email" type="" name="" placeholder="email"><br/><br/>
    <input id="address" type="" name="" placeholder="address"><br/><br/>
    <input id="phone" type="" name="" placeholder="phone"><br/><br/>
    <input type="button" name="" onclick="addCustomer()" value="Add Customer">
  </body>
</html>
